* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.loader{
    margin-top: 25%;
    margin-left: 50%;
    transform: 'translate(-50%, -50%)';
    text-align: 'center';
}